/* General styles */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
h1 {
    font-size: 34px;
}
h2 {
    font-size: 26px;
}
h3 {
    font-size: 24px;
} 
.row {
    margin-left: 0px;
    margin-right: 0px;
}
body {
    max-width: 100%;
    background-image: url(img/garnitur.jpg);
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(0,0,0,0.75);
    overflow-x: hidden;
}
section {
    margin-bottom: 50px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: goldenrod;
}
p,
label {
    font-size: 18px;
}
p,
small {
    color: lightgray;
}
form {
    z-index: 1;
}
/* Specific sytles */
.menu {
    position: fixed;
    top: 10px;
    right: 10px;   
    .menu__box {
    width: 25px;
    height: 25px;
    z-index: 100e5;
    &:hover {
        .menu__line {
            background-color: white;
            z-index: 100e5;
        }
    }
    &:active {
        .menu__line:nth-child(1) {
            transform: translateY(10px) rotate(-45deg);
        }
        .menu__line:nth-child(2) {
            opacity:0;
        }
        .menu__line:nth-child(3) {
            transform: translateY(-10px) rotate(45deg);
        }
    }
        .menu__line--actived:nth-child(1) {
            transform: translateY(10px) rotate(-45deg);
            background-color: white;
        }
        .menu__line--actived:nth-child(2) {
            opacity:0;
        }
        .menu__line--actived:nth-child(3) {
            transform: translateY(-10px) rotate(45deg);
            background-color: white;
        }
    .menu__line {
        border-radius: 10px;
        margin-bottom: 5px;
        width: 100%;
        height: 5px;
        background-color: rgb(192, 192, 192); 
        z-index: 100;
        transition: all .1s linear;
        }
    }
    .menu__list {
        transition: all .3s ease-in;
    }
    .menu__list--untoggled {
        display: none;
    }
    .menu__list--toggled {
        position: fixed;
        top: 0px;
        left: 5px;
        margin-top: 5px;
        height: 35px;
        list-style-type: none;
        background-color: #c0c0c0;
        display: flex;
        float: left;
        z-index: 10e3;
        justify-content: space-around;
        width: calc(100% - 45px);
        border-radius: 15px 0px 0px 15px;
        .menu__item{
            position: relative;
            z-index: 100;
            top: 50%;
            transform: translateY(-50%);
            transition: all .1s linear;
        .menu__link {
            color: black;
            &:hover {
                text-decoration: none;
                color: goldenrod;
                text-shadow: 0px 0px 1px black;
                font-weight: 700;
                }
            }
        }
    }
}
.header {
    margin-top: 50px;
    font-size: 38px;
    border-bottom: 1px solid gray;
}
.target {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(177, 173, 173);
    color: black;
    padding-top: 10px;
    border-radius: 10px;
    min-height: 50px;
    z-index: 1;
    transition: all .2s linear;
    &:hover {
        color: goldenrod;
        text-shadow: 0px 0px 2px black;
        font-weight: bold;
    }
}
.target--hovered {
    text-decoration: none;
    text-shadow: 0px 0px 1px black;
    z-index: 1;
    font-weight: bold;
    color: goldenrod;
    transform: scale(1.1) translateY(10%);
}
.parameters {
    border-radius: 5px;
    background-color: rgba(192, 192, 192, .65);
    z-index: 1;
    .parameters__label {
        z-index: 1;
        line-height: 40px;
        color: white;
    }
    .parameters__input {
        z-index: 1;
        padding: 7px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    .parameters__button {
        z-index: 1;
        color: goldenrod;
        border: solid 2px black;
        box-shadow: -2px 2px 3px #222;
        transition: all .2s ease-in;
    }
    .parameters__button:active {
        z-index: 1;
        box-shadow: 0px 0px 1px black;
    }
}
    .results {
        min-height: 200px;
        border-radius: 10px;
        background-color: rgba(192, 192, 192, .65);
        .result__colorBox {
            display: inline-block;
            background-color: white;
            border: solid 2px black;
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }
        .results__paragraph {
            word-wrap: break-word;
        }      
    }
.mechanism {
    z-index: 1;
    padding: 1px 4px 1px 4px;
    background-color: rgba(97, 97, 97, 0.65);
    border-radius: 10px;
    border: solid 2px goldenrod;
    color: goldenrod;
    transition: all .3s linear;
    &:hover {
        background-color: white;
        transform: scale(1.1);
    }
}
.footer {
    position: absolute;
    margin: 10px 0px 0px 0px;
    width: 100vw;
    min-height: 40px;
    background-color:  rgba(97, 97, 97, 0.65);
    .footer__link {
        color: goldenrod;
        transition: all .3s linear;
        &:hover {
            color: lightgray;
            transform: scale(1.1);
        }
        .footer__icon {
            font-size: 32px;
        }
    }    
}
/* Media queries */
@media all and (max-width: 476px) {
  .menu__link {
      font-size: 14px;
  }
  .result__paragraph--answer {
      color: black;
  }
}
